
#home {
  color: black;
  text-align: center;
  height: 50vh;
}
#title{
  font-size: 100px;
  position: relative;
  top: 15%;
}
#title1{
  width: 300px;
}
#love{
  font-size: 50px;
}
#menu{
  display: none;
}
