body{
  background-color: black;
}
.container{
  background-color: white;
}
#home {
  color: black;
  text-align: center;
  height: 50vh;
}
#title{
  font-size: 100px;
  position: relative;
  top: 15%;
  /* color: gold; */
}
#m{
  color: red;
}
#a{
  color: green;
}
#g{
  color: gold;
}
#i{
  color: brown;
}
#title1{
  width: 300px;
}
#love{
  font-size: 50px;
}
#choose{
  display: flex;
  text-align: center;
}
.order{
  margin-left: 10%;
}
.deliver{
  margin-left: 23%;
}
#order, #deliver{
  background-color: brown;
  padding: 10px;
}
#menu{
  display: none;
}
#menu1{
  display: none;
}
#makeOrder, #orderDelivery{
  background-color: brown;
}
#about{
  text-align: center;
  background-image: url(../images/homebg.jpeg);
  color: white;
  font-size: 24px;
}

